
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parti!</title>
</head>
<body>
<div>
    <div>
        Çok Keyifli bir partiye gidiyoruz.<br />
    </div>
</div>
</body>
</html>
