@model GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
<form asp-action="RsvpForm" method="post">
    <div>
        <label asp-for="Name">Adınız:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Phone">Telefon:</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label>Katılacak mısınız?</label>
        <select asp-for="WillAttend">
            <option value="">Seçiniz</option>
            <option value="true">Evet,Katılıyorum</option>
            <option value="false">Hayır,Katılmıyorum</option>
        </select>
    </div>
    <button type="submit">Gönder</button>
</form>
</body>
</html>
